<manifest xmlns:android="http://schemas.android.com/apk/res/android">


    <!-- Android 11(API 30) 이하 버전에서 사용하는 기존 블루투스 권한입니다 -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    
    <!-- Android 12(API 31) 이상 버전에서 사용하는 새로운 블루투스 권한입니다 -->
    <!-- BLUETOOTH_SCAN: 블루투스 장치를 검색하는 권한입니다 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
    
    <!-- BLUETOOTH_CONNECT: 검색된 블루투스 장치에 연결하는 권한입니다 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    
    
    <!-- ACCESS_FINE_LOCATION: 정확한 위치 정보 접근 권한 (GPS 사용) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- ACCESS_COARSE_LOCATION: 대략적인 위치 정보 접근 권한 (네트워크 기반) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:label="arduino_bluetooth_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
